$black: #242424;
.black{
    color: $black;
}

$blue--500: #03709A;
.blue--500{
    color: $blue--500;
}

$blue--300: #81B7CC;
.blue--300{
    color: $blue--300;
}

$blue--100: #C0DBE6;
.blue--100{
    color: $blue--100;
}

$green--500: #02B242;
.green--500{
    color: $green--500;
}

$green--300: #80D8A0;
.green--300{
    color: $green--300;
}

$green--100: #C0ECD0;
.green--100{
    color: $green--100;
}

$gold--500: #F6B000;
.gold--500{
    color: $gold--500;
}

$gold--300: #FAD77F;
.gold--300{
    color: $gold--300;
}

$gold--100: #FDEBBF;
.gold--100{
    color: $gold--100;
}

$gray--500: #BBBBBB;
.gray--500{
    color: $gray--500;
}

$gray--300: #DDDDDD;
.gray--300{
    color: $gray--300;
}

$gray--100: #ECECEC;
.gray--100{
    color: $gray--100;
}

$gray--050: #f5f7fb;
.gray--050{
    color: $gray--050;
}

$indigo--500: #071B87;
.indigo--500{
    color: $indigo--500;
}

$indigo--300: #838DC3;
.indigo--300{
    color: $indigo--300;
}

$indigo--100: #C1C6E1;
.indigo--100{
    color: $indigo--100;
}

$orange--500: #F58002;
.orange--500{
    color: $orange--500;
}

$orange--300: #FABF80;
.orange--300{
    color: $orange--300;
}

$orange--100: #FCDFC0;
.orange--100{
    color: $orange--100;
}

$red--500: #971B00;
.red--500{
    color: $red--500;
}

$red--300: #CB8D7F;
.red--300{
    color: $red--300;
}

$red--100: #E5C6BF;
.red--100{
    color: $red--100;
}

$white: #fff;
.white{
    color: $white;
}