.modal{
    background: $white;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    place-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    display: flex;
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s, opacity 0.5s linear; 

    &[class*="--show"]{
        display: flex;
        visibility: visible;
        opacity: 1;
        overflow-y: auto;
    }

    [class*="--content"]{
        position: absolute;
        top: 0;
        margin: 0 auto;
        padding: 16px 0 32px 0;
        max-width: 780px;
        width: 70%;
        border-radius: 8px;
    }

    &.demo-request{
        
        [class*="--content"]{
            display: flex;
            flex-direction: column;
            justify-content: center;
            place-content: center;
            justify-items: center;
            place-items: center;

            > button{

                &[class*="demo-request"]{
                    position: fixed;
                    top: 12px;
                    right: 12px;
                }
            }

            > p{

                width: 75%;
                text-align: center;
            }

            .form{

                width: 100%;
                background: $blue--100;
                padding: 32px 0 12px 0;
                margin-bottom: 32px;

                > div{
                    padding: 16px;
                    display: flex;
                    flex-direction: row;

                    textarea{
                        min-height: 200px;
                    }
                }
            }

        }
    }
    
    @include when-less-than('small'){

        &.demo-request{
        
            [class*="--content"]{
                width: 100%;
                max-width: 100%;

                > button{

                    &[class*="demo-request"]{
                        position: absolute;
                    }
                }                

                .form{

                    > div{
                        flex-direction: column;
                        padding-top: 0;
                        padding-bottom: 0;

                        input{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }        
    }
    
}