#tabs{
    display: flex;
    flex-direction: column;
    // height: 60px;
    width: 100%;
    // margin-top: 60px;
    align-items: center;

    .tab-nav{
        display: flex;
        height: 60px;
        width: 80%;
        margin-top: 60px;
        align-items: center;
        background: $gray--100;

        ul{
            width: 100%;
            display: flex;
            place-content: center;
            justify-content: center;
            padding: 0;
            margin: 0;
            margin-block-end: 0;
            margin-block-start: 0;
            list-style-type: none;
            margin-inline-start: 0;
            margin-inline-end: 0;
            padding-inline-start: 0;
            
            li{
                position: relative;
                display: flex;
                font-family: sans-serif;
                font-weight: 400;
                font-size: 20px;
                width: 34%;
                align-items: center;
                place-content: center;
                justify-content: center;;
                margin: 0;
                height: 60px;

                a, a:focus, a:hover, a:active, a[tabindex]:focus{
                    position: relative;
                    display: flex;
                    font-family: sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    width: 100%;
                    align-items: center;
                    place-content: center;
                    justify-content: center;
                    margin: 0;
                    height: 100%;
                    color: $black;

                    &[class*="active"]{
                        border: 1px solid $gold--500;
                        background: $white;
                        color: $blue--500;
                        // box-shadow: 0 2px 4px 0 rgba(181, 181, 183, 0.60);
            
                        &:after{
                            position: absolute;
                            bottom: -7px;
                            content: '';
                            width: 0; 
                            height: 0; 
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;                
                            border-top: 7px solid $gold--500;                
                        }
                    }
                }                
            }
        }
    } 
}